@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    transition: all 0.5s ease;
}

:root {
    ---cor-header:  #131111;
    ---cor-btn: #00000028;
    ---btn-hover: #1565f881;
    ---cor-footer: #0c0101;
    ---cor-footer-link:#0c0101;
    ---background-link: #07d1f5e3;
}

body {
    background:linear-gradient(120deg, #70ABEB, #7A28F7);
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
}

header {
    text-align: center;
    margin: 30px;
    color: var(---cor-header);
    font-family: 'Open Sans', sans-serif;
}

.conteiner {
    width: 440px;
    height: 460px;
    margin: auto;
    padding: 10px 5px;
    background-color: #fff;
    border-radius: 10px;
}

fieldset {
    margin: 15px;
}

input:nth-last-child(1) {
    width: 180px;
    padding: 4px 7px;
    color: #333;
    border-radius: 4px;
    background-color: #ededed75;
    border: 1px solid #00000034;
}

input:nth-last-child(1):hover {
    border-color: #70ABEB;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=radio]{
    margin-left: 5px;
}

.btn {
    margin: 13px 0;
    font-size: 16px;
    padding: 7px;
    border-radius: 4px;
    transition: all 0.10s cubic-bezier(0, 0.78, 1, 0.62);
    font-weight: normal;
    letter-spacing: 0.9px;
    background-color: var(---cor-btn);
}

.btn:hover {
    transform: scale(1.03);
    background-color: var(---btn-hover);
    color: rgb(255, 255, 255);
    font-weight: normal;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.582);
}

p{
    text-align: center;
}

footer {
    margin: 10px;
    color: var(---cor-footer);
}

footer a {
    position: relative;
    color: var(---cor-footer-link);
    letter-spacing: 0.9px;
    padding-left: 1px;
}

footer a::after {
    content: "";
    position: absolute;
    background-color: var(---background-link);
    width: 0;
    height: 2px;
    left: 0;
    bottom: -10px;
    transition: all 0.5s ease;
}

footer a:hover::after {
    width: 100%;
    transition: all 0.5s ease;
}

footer a:hover {
    color: #ffffff8e;
} 
